In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json

# Import API key
#from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# read File (CSV)
data_file = "./startup-analysis-dataset/final_data1.csv"


csv_reader = pd.read_csv(data_file, delimiter=',')


# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [11]:
csv_reader.head()

,name,category_list,funding_total_usd,status,country_code,state_code,city,funding_rounds,Investors,Number_of_Investors,Acquirer,Acquirer_Category,Acquirer_Country,Acquirer_State,Acquirer_City,Acquired_Price,Acquired Currency,county,founded_at,Coordinates
0,H2O.ai,Software,33.600000,operating,USA,CA,Mountain View,4.0,Capital One:20000000|Nexus Venture Partners:33...,11.0,-,-,-,-,-,-,-,Santa Clara,2011,37.399364:-122.079517
1,One Inc.,Mobile,1.150050,operating,USA,CA,San Francisco,3.0,Camp One Ventures:150000|CRV:1000050|General C...,12.0,-,-,-,-,-,-,-,San Francisco,2011,37.727239:-123.032229
2,1000 Corks,Software,0.040000,operating,USA,OR,Lake Oswego,1.0,Start-Up Chile:40000,1.0,-,-,-,-,-,-,-,Clackamas,2008,45.412305:-122.699154
3,1000museums.com,Software,6.795451,operating,USA,MA,Lenox,9.0,Alliance of Angels:1289879.0|Converge Venture ...,7.0,-,-,-,-,-,-,-,Berkshire,2008,42.361228:-73.286788
4,Redox,Health,4.000000,operating,USA,WI,Madison,2.0,.406 Ventures:3530000|DreamIt Ventures:470000|...,6.0,-,-,-,-,-,-,-,Dane,2014,43.087806:-89.430121

In [14]:

citi_counter = 1
print("Beginning Data Retrieval")
print("-----------------------------")

ran_index = random.sample(cities,500)
for citi in ran_index:
    try:
        url = f'http://api.openweathermap.org/data/2.5/weather?q={citi}&APPID={api_key}'
        response = requests.get(url)
        #print(response)
        if response.status_code != 200:
            print('City not found. Skipping...')
        print("Processing Record " + str(citi_counter) +" of Set 1 |" + citi)
        citi_counter += 1
        weather_json = response.json()
        # Append the City information into city_data list
        citi_data.append({"City": citi, 
                          "Lat": weather_json['coord']['lat'], 
                          "Lng": weather_json['coord']['lon'], 
                          "Max Temp": weather_json['main']['temp_max'],
                          "Humidity": weather_json['main']['humidity'],
                          "Cloudiness": weather_json['clouds']['all'],
                          "Wind Speed": weather_json['wind']['speed'],
                          "Country": weather_json['sys']['country'],
                          "Date": weather_json['dt']})

    except:
        print("City not found. Skipping...")
        pass

Beginning Data Retrieval
-----------------------------

NameError: name 'random' is not defined