# Code for obtaining city weather and lng/lat

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import gmaps


# Import API key
from api_keys import api_key
from api_keys import gkey

# Output File (CSV)
output_data_file = "desktop/cities.csv"

## Generate Cities List

In [3]:
# List for holding lat_lngs and cities
lat_lngs = []
city = []

city = pd.read_csv("../Cities.csv")


# Print the city count to confirm sufficient count
len(city)
cities = np.unique(city)
print(cities)
uvalues = pd.DataFrame(cities)
uvalues

['Acton' 'Acworth' 'Ada' ... 'Ypsilanti' 'Zebulon' 'Zeeland']

                      0
0                 Acton
1               Acworth
2                   Ada
3               Addison
4          Agoura Hills
5                 Akron
6               Alachua
7               Alameda
8                Albany
9           Albuquerque
10           Alexandria
11          Aliso Viejo
12                Allen
13           Allen Park
14            Allendale
15            Allentown
16              Allston
17           Alpharetta
18             Altadena
19    Altamonte Springs
20               Ambler
21       American Falls
22        American Fork
23                 Ames
24             Amesbury
25              Amherst
26            Amsterdam
27              Anaheim
28            Anchorage
29              Andover
...                 ...
1050        Wilsonville
1051             Wilton
1052           Winooski
1053      Winston Salem
1054        Winter Park
1055   Wisconsin Rapids
1056               Wise
1057             Wisner
1058              Wixom
1059             Woburn
1060         Woodbridge
1061           Woodbury
1062     Woodcliff Lake
1063        Woodinville
1064     Woodland Hills
1065          Woodridge
1066           Woodside
1067          Woodstock
1068            Wooster
1069          Worcester
1070           Wyndmere
1071          Wynnewood
1072            Wyoming
1073            Yardley
1074        Yorba Linda
1075               York
1076         Youngstown
1077          Ypsilanti
1078            Zebulon
1079            Zeeland

[1080 rows x 1 columns]

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [ ]:
clouds = []
country = []
date = []
humidity = []
lat = []
lng = []
max_temp =[]
wind_speed = []
city2 = []
cityid = []


for c in cities:
    url = f"http://api.openweathermap.org/data/2.5/weather?q={c},{'US'}&APPID={api_key}&units=imperial"
    print(url)
    weather_response= requests.get(url)
    print(weather_response)

    if weather_response.status_code == 200:
        print(weather_response)
        weather_json=weather_response.json()
        print(weather_json)
        city2.append(weather_json['name'])
        clouds.append(weather_json['clouds']['all'])
        country.append(weather_json['sys']['country'])
        date.append(weather_json['dt'])
        humidity.append(weather_json['main']['humidity'])
        lat.append(weather_json['coord']['lat'])
        lng.append(weather_json['coord']['lon'])
        max_temp.append(weather_json['main']['temp_max'])
        wind_speed.append(weather_json['wind']['speed'])
        cityid.append(weather_json['id'])

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [4]:
# Convert to DataFrame
weather_df = pd.DataFrame(columns={"City" : city2,
                                "Cloudiness" : clouds,
                                "Country" : country,
                                "Date" : date,
                                "Humidity" : humidity,
                                "Lat" : lat,
                                "Lng" : lng, 
                                "Max Temp" : max_temp,
                                "Wind Speed" : wind_speed})

weather_df["City"] = city2
weather_df["Cloudiness"] = clouds
weather_df["Country"] = country
weather_df["Date"] = date
weather_df["Humidity"] = humidity
weather_df["Lat"] = lat
weather_df["Lng"] = lng
weather_df["Max Temp"] = max_temp
weather_df["Wind Speed"] = wind_speed

export_csv = weather_df.to_csv (r"C:/Users/Drew's Surface/Desktop/weather_df.csv", index = None, header=True) 
weather_df.head()

city_name_df = pd.DataFrame(columns={"City Name" : city2,
                                "City Number" : cityid})
city_name_df["City Name"] = city2
city_name_df["City Number"] = cityid
export_csv = city_name_df.to_csv (r"C:/Users/Drew's Surface/Desktop/city_name_number_df.csv", index = None, header=True) 
city_name_df.head()

      City Name  City Number
0         Acton      4928703
1       Acworth      4179074
2           Ada      4998005
3       Addison      4669828
4  Agoura Hills      5322553